USE [Adm]
GO
/****** Object:  StoredProcedure [bot].[sendMsg]    Script Date: 15.03.2026 23:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER     PROCEDURE [bot].[sendMsg](
	@botName nvarchar(32)
	,@chatName nvarchar(32)
	,@msg nvarchar(MAX)
	,@isErr bit
)
AS
--EXEC bot.sendMsg 'my_bot', 'my_chat', '@username, test test', 1
DECLARE @botID nvarchar(512)--, @isBotBusy bit, @iint = 0
SELECT @botID = ID FROM bot.Bots WITH (TABLOCKX)
where Name = @botName
print @botID

DECLARE @proxyUrl nvarchar(512) = 'socks5://user:pass@111.111.111.111:12343'

/*
Проблема : бот не может слать сообщения одновременно в несколько чатов, отваливается с ошибкой вида 
"Не удалось создать защищенный канал ssl\TLS"
Для регения пробелмы пытался сделать программную блокировку
но затем решил обойтись блокировкой таблицы bot.Bots

SELECT @isBotBusy = ISNULL(isSending,0) FROM bot.Bots where Name = @botName
print 'isBotBusy ' + @isBotBusy

WHILE @i <= 12
BEGIN
SELECT @isBotBusy = ISNULL(isSending,0) FROM bot.Bots where Name = @botName
print 'isBotBusy ' + @isBotBusy

IF @isBotBusy = 0 BREAK

WAITFOR DELAY '00:00:05';
SET @i = @i + 1
END

SET isSending = 1
bot.Bots where Name = @botName*/

DECLARE @chatID nvarchar(512), @AlertPersons nvarchar(512)
SELECT @chatID = ID, @AlertPersons = SendAlertsTo FROM bot.Chats where Name = @chatName
print @chatID
print @AlertPersons
														 
--DECLARE @exe nvarchar(512)
--SELECT @exe = ExecPath FROM bot.Preferencies
--print @exe 

IF @isErr = 1 SET @msg = N'Внимание ' + @AlertPersons + N' !\n' + @msg

SET @msg = REPLACE(REPLACE(REPLACE(@msg,CHAR(13)+CHAR(10), '%0A'), CHAR(10), '%0A'), CHAR(13), '%0A')
SET @msg = REPLACE(REPLACE(REPLACE(REPLACE(@msg, '\r\n', '%0A'), '\n', '%0A'), ' ', '%20'), '&', '%26')
SET @msg = REPLACE(@msg, '%26parse_mode=', '&parse_mode=')
print @msg
/*
DECLARE @args nvarchar(4000)
--\n - new line
SELECT @args = @botID + ' ' + @chatID + ' ' + @msg
print @args

DECLARE @cmd nvarchar(4000)
SET @cmd = LEFT(N'cmd.exe /C "' + @exe + '" ' + @args, 350)
print @cmd

DROP TABLE IF EXISTS #res
CREATE TABLE #res (res nvarchar(4000))
INSERT INTO #res
Exec master..xp_cmdshell @cmd
*/

DROP TABLE IF EXISTS #res
CREATE TABLE #res (res nvarchar(max))

INSERT INTO #res
SELECT bot.sp_sendMsg(@botID, @chatID, @msg, @proxyUrl)

--archive
INSERT INTO bot.ArchiveMsg
([BotName], [ChatName], [DateMsg], [Msg], ReultExe )
VALUES
(@botName, @chatName, getdate(), @msg, (SELECT STRING_AGG(res, ' ') FROM #res))
